html {
    background-color: #efefefff;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

#header {
    position: fixed;
    width: 100vw;
    height: 8vh;
    top: 0;
    left: 0;
    background-color: #534b52ff;
    margin-bottom: 10px;
    display: flex;
    color: white;
    box-shadow: 0px 2px 5px rgb(51, 51, 51);
}

#header div {
    align-content: center;
    text-align: center;
    border-right-color: #efefefff;
    border-right: solid 0.5px;
    font-size: 20px;
    width: 15vw;
    transition: 100ms;
}

#header .logo {
    position: fixed;
    right: 0vw;
    width: 20vw;
    border-right: none;
    text-shadow: 0px 0px 8px black;
    color: rgb(255, 255, 255);
    align-content: center;
    text-align: center;
    height: inherit;
}

input {
    background-color: #534b52ff;
    border: none;
    color: white;
    border-radius: 20px;
    height: 3.5vh;
    padding-left: 5px;
    padding-right: 5px;
    transition: 300ms;
}

.submittext {
    width: fit-content;
    height: fit-content;
    display: flex;
}

input:focus {
    background-color: #474448ff;
    outline: none;
    box-shadow: inset 0px 0px 8px 2px rgb(32, 25, 32);
}

.link {
    color: rgb(241, 71, 94);
    text-decoration: underline;
}

.whitetext {
    color: #ffffffff;
}

.typicaldiv {
    background-color: #ffffffff;
    border-radius: 20px;
    box-shadow: 1px 1px 6px 2px #474448ff;
}

.smallbutton, .submittext div {
    background-color: #534b52ff;
    color: #ffffffff;
    text-align: center;
    width: 5vw;
    height: 3.5vh;
    border-radius: 20px;
    align-content: center;
    transition: 300ms;
}

.smallbutton:hover, .submittext div:hover {
    background-color: #474448ff;
}

#header div:hover {
    background-color: #474448ff;
}

#header .logo:hover {
    background-color: white;
}

.smallbutton:active, .submittext div:active, #header div:active {
    box-shadow: inset 5px 5px 1px 2px rgb(32, 25, 32);
}

#header .logo:active {
    box-shadow: none;
}

.biggerbutton {
    width: 10vw;
    height: 3.5vh;
}

.submittext input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.gradiant {
    background: #EFEFEFFF;
    background: radial-gradient(circle,rgba(239, 239, 239, 1) 0%, rgba(239, 239, 239, 1) 50%, rgba(71, 68, 72, 1) 100%);
}

.submittext div {
    width: 2.5vw;
    height: 3.7vh;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.lonediv {
    height: 80vh;
    width: 80vw;
    margin: auto;
    padding-top: 8vh;
    align-content: center;
}

.title {
    font-size: xx-large;  
    margin: auto;
    font-weight: bold;
    text-align: center;
}

.logindiv {
    width: 800px;
    margin: auto;
}

.logininput {
    width: 750px;
}

@media (max-width: 1000px), (max-height: 500px){
    html {
        font-size: 10px;
    }

    .typicaldiv, input, .smallbutton {
        border-radius: 8px;
    }


}

@media (max-width: 500px), (max-height: 500px){
    html {
        font-size: 8px;
    }

    .typicaldiv, input, .smallbutton {
        border-radius: 4px;
    }

    .logindiv {
        width: 400px;
    }
}

@media (max-width: 1000px) {
    .logindiv {
        width: 500px;
    }

    .logininput {
        width: 450px;
    }
}

@media (max-width: 600px) {
   .logindiv {
        width: 300px;
    }

    .logininput {
        width: 250px;
    }
}

/* CSS HEX 
--white: --ffffffff
--litthe dark white: #efefefff
--gunmetal: #474448ff;
--shadow-grey: #2d232eff;
--bone: #e0ddcfff;
--taupe-grey: #534b52ff;
--parchment: #f1f0eaff;
*/